/* Colors */
/* 
Primary: #FBFCF9 ;
Accent #1: #638B39;
Accent #2: #83C243;
Accent #3: #9DA59B;
Accent #4: #C2DBA6;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

/* REUSABEL */
.section {
  background-color: #FBFCF9 ;
  padding: 3rem 0;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90rem;
  margin: 0 auto;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
}

.container {
  width: 100rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.grid--center {
  align-items: center;
}

/* HEADER SECTION */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #638B39 ;
  height: 4rem;
  padding: 0 3.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header-section img {
  width: 4rem;
  height: 4rem;
  padding: 5px;
}


.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;

}

.nav-item:link,
.nav-item:visited {
  text-decoration: none;
  color: #FBFCF9;
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.nav-item:hover,
.nav-item:active {
  filter: brightness(90%) ;
}



/* HERO SECTION */

.hero-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}


.img-me {
  width: 85%;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 2rem;
 padding: 5px 15px;
 border-radius: 7px;
 text-decoration: none;
 font-weight: 500;
 transition: all 0.3s;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.link:hover,
.link:active {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.041);
  filter: brightness(95%);
}

.btn-one {
  background-color: #83C243 ; 
  color: #FBFCF9;
}
.btn-two {
  background-color: #9DA59B ;
  color: #FBFCF9;
}

.margin-right-sm {
  margin-right: 1.2rem;
}


/* ABOUT ME */
.backgroundColor {
  background-color: #83C243;
}


/* PROJECTS */
.projects-container {
  padding: 3rem 0;
  background-color:#FBFCF9;
}

.grid-two {
  display: grid;
  column-gap: 4.5rem;
  row-gap: 8rem;
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}



.heading-project {
font-size: 3.5rem;
font-size: 900;
text-align: center;
margin-bottom: 3rem;
}

.project-img {
  width: 100%;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.project-description-container {
  background-color: #638B39;
  color: #FBFCF9;
  padding: 1.5rem;
  width: 100%;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-name-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.project-tech {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.project-description-text {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}